:root{
    --seafoam: #3DED97;
    --charcoal: #232023;
    --fossil: #787276;
    --cloud: #C5C6D0;
    --arctic: #82EEFD;
}
*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0px;
    margin-top: 0px;
}
.App{
    background-color: var(--seafoam);
}
header{
    background-color: var(--arctic);
    border-bottom: 8px solid var(--fossil);
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
}
header h1{
    text-align: center;
}
header p{
    padding-bottom: 12px;
}
/*SearchBar*/
form{
    display: flex;
    justify-content: center;
}
input{
    border: 1px solid var(--charcoal);
    padding: 10px;
    font-size: 18px;
    margin: 10px;
}
input[type="text"]{
    width: 400px;
}
input[type="submit"]{
    background-color: var(--cloud);
    width: 100px;
    cursor: pointer;
}
/*RecipeCard*/
.recipes{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    min-height: 370px;
}
.recipe-card{
    width: 200px;
    background-color: var(--cloud);
    margin: 10px;
    padding-bottom: 10px;
    text-align: center;
    border: 1px solid var(--charcoal);
}
.recipe-card:hover{
    box-shadow: 5px 5px 5px var(--charcoal);
    transition: box-shadow 0.5s;
}
.recipe-card img{
    width: 90%;
    border: 1px solid var(--charcoal);
}
.recipe-card-tags{
    display: inline-block;
    background-color: var(--arctic);
    margin: 5px;
    padding-left: 2px;
    padding-right: 2px;
    border-radius: 2px;
    border: 1px solid var(--charcoal);
}
.recipe-card-flag{
    max-width: 20%;
}
.recipe-card-body{
    padding: 10px;
    text-align: center;
}
.recipe-card-body p{
    font-size: 25px;
}
.recipe-card-links{
    background-color: var(--arctic);
    padding: 10px;
    border-radius: 10px;
    border: 1px solid var(--charcoal);
}
a{
    text-decoration: underline;
    color: var(--charcoal);
}
/*Footer*/
footer{
    border-top: 8px solid var(--fossil);
    min-height: 50px;
    color: var(--cloud);
    background-color: var(--charcoal);
    text-align: center;
    bottom: 0;
    position: bottom;
    width: 100%;
}
footer .contact{
    text-align: left;
    padding-left: 30px;
}
footer .contact-header{
    text-decoration: underline;
    color: var(--cloud);
}
footer p{
    margin-bottom: 15px;
}
footer a{
    color: var(--cloud);
    margin-bottom: 0px;
}